<header>
    <h1 class="titulo" style="color: rgb(165, 8, 8);">Reporte de Actividades</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="fecha text-center">
                <label for="date"><strong>Fecha Reporte</strong></label>
                <input (change)="change($event)" [(ngModel)]="fecha" type="date" class="form-control"
                    placeholder="Fecha" aria-label="Fecha">
            </div>
        </div>
        <div *appRolesPerfiles="rolesArray[6]" class="col-md-6">
            <div class="seleccionar text-center">
                <label><strong>Nombre Usuario</strong></label>
                <select (change)="change($event)" [(ngModel)]="username" class="form-select"
                    aria-label="Default select example">
                    <option value="null">Elija El Usuario</option>
                    <option *ngFor="let u of usuarios" value="{{ u.username }}">{{ u.nombres | uppercase }} {{
                        u.apellidos | uppercase }}</option>
                </select>
            </div>
        </div>
    </div>
    <span *ngIf="botonFiltrar">
        <div *ngIf="!filtro" class="row text-center">
            <div class="col-md-12">
                <button (click)="filter()" class="btn btn-danger"
                    style="background-color: #960010; border-color: #960010;">Filtrar</button>
            </div>
        </div>
    </span>
    <div *ngIf="filtro" class="row text-center">
        <div class="col-md-12">
            <button type="button" class="btn btn-danger" style="background-color: #960010;border-color: #960010;">
                Filtrando...
                <span class="spinner-border spinner-border-sm float-right" role="status" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</header><br>

<div class="table-responsive">
    <table class="table table-bordered text-center align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Archivo</th>
                <th scope="col">Nombre Usuario</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody style="color:rgb(0, 0, 0) ;">
            <tr *ngFor="let r of reportes; let i = index">
                <td>{{ cont + i }}</td>
                <td>{{ r.nombreReporte }}</td>
                <td>{{ r.usuario.nombres | uppercase}} {{ r.usuario.apellidos | uppercase}}</td>
                <td>{{ r.fechaReporte | date: "d/M/yy" }}</td>
                <td>
                    <button *ngIf="descargandoId != r.idReporte" (click)="descargarReporte(r)" [disabled]="descargandoId != null"
                        class="btn btn-info btn-sm ms-2" title="Descargar reporte"><i class="fa-regular fa-eye"></i></button>
                    <button *ngIf="descargandoId == r.idReporte" class="btn btn-info btn-sm ms-2" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                    
                </td>
            </tr>
        </tbody>
    </table>

</div>
<nav aria-label="Page navigation example" *ngIf="numeroPages > 1">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link b" (click)="back()" style="cursor: pointer;">Anterior</a>
                    </li>

                    <li class="page-item">
                        <div class="btn-group">
                            <button type="button" class="page-link dropdown-toggle"
                                style="cursor: pointer; text-decoration: none; color: white;background-color: #960010;"
                                data-bs-toggle="dropdown">{{page+1}}/{{numeroPages}}</button>
                            <ul class="dropdown-menu" style="overflow-y: 400px;height: auto;">
                                <li *ngFor="let p of paginas;let i = index"><button class="dropdown-item"
                                        (click)="goToPage(i)">{{i
                                        + 1}}</button></li>

                            </ul>
                        </div>
                    </li>
                    <li class="page-item">
                        <a class="page-link b" (click)="next()" style="cursor: pointer;">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav>


<!-- Modal Embed -->
<div class="modal fade" id="modalIframe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">PDF Reporte</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <embed #pdfEmbed type="application/pdf" width="1100px" height="1000px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>